# Ignore node_modules and other unnecessary files
node_modules
npm-debug.log
.env
.DS_Store
.git
.husky
dist

# Ignore local configuration files
*.local
*.env

# Ignore editor and OS-specific files
*.swp
*.idea
*.vscode
*.log
